*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-corner {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 5px;
    transition: all 1s ease 0s;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}



body {
    background-color: black;
    display: flex;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

main2 {
    flex: 1;
}

.items {
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    width: 80px;
    height: 80px;
}

.item > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.tierlist {
    width: 100%;
    max-width: 1120px;
    margin-bottom: 10px;
}

.tier {
    width: 100%;
    min-height: 80px;
    background-color: #333;
    border-color: black;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
}

.tiername {
   
    border-color: black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.tiercontent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.label-holder {
    width: 79px;
    max-width: 79px;
    min-width: 79px;
    min-height: 80px;
    border-right: solid 1px #000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#DataList {
    background-color: #333;
    border-radius: 5px;
    padding-left: 5px;
    max-width: 25%;
    margin: 5px;
    color: white;
}

.label {
    color: #333;
    overflow: hidden;
    text-align: center;
    margin: 5px;
}

.art {
    position: fixed;
    height: 100vh;
    right: 0;
    width: 100%;
    display: flex;
    overflow: scroll;
}

.art > img {
    height: 100%;
    min-width: 100%;
    object-fit: contain;
}

img[loaded="false"]
{
    transition: opacity 0.25s;   
    opacity: 0;
}

img[loaded="true"]
{
    transition: opacity 0.25s;  
     opacity: 1;
}

img[src=""] {
    opacity: 0;
}

div[inactive="true"] {
    opacity: 0.5;
}


.tiercontrols {
    width: 100px;
    max-width: 100px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    position: relative
}

.tiercontrols > .top, .tiercontrols > .bottom {
    height: 50%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.tiercontrols > .top > img, .tiercontrols > .bottom > img, .tiercontrols > img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    position: relative;
    filter: invert(100%);
}

.tiercontrols > .top > img:nth-child(3) {
    position: absolute;
    right: 10px;
    top: 5px;
    height: 10px;
    transform: rotate(45deg);
}

.tiercontrols > .bottom > img:nth-child(1) {
    transform: rotate(180deg);
}

img {
    user-select: none;
}